@use 'fonts'
@use 'variables' as *
  
main
  display: flex
  flex-direction: column

  margin: 0 auto
  max-width: 1200px
  padding: 30px 50px

  @media screen and (max-width: 800px)
    max-width: 600px

section.details
  max-width: 83.33%
  margin-top: 40px

  h1
    font-size: 36px
    color: $primary

    margin-top: 50px

    p
      margin: 0

  .detail, .condition
    @include fonts.legible
    font-size: 18px
    min-height: 50px

section.hotlines
  display: flex
  justify-content: center
  margin-top: 80px

  .banner
    max-width: 350px
    margin: 0 15px

section.sponsors
  display: flex
  justify-content: space-between
  margin-top: 80px

  .sponsor-logo
    max-width: 100px
    margin: 0 15px