doctype html
html(lang="th-TH")
  head
    link(rel="stylesheet", href="../styles/index.sass")
  body
    header.navbar
    main
      section.hero
        .cover.left
        .cover.center
          .hero-logo
        .cover.right

    script(src="../scripts/index.ts")
