doctype html
html(lang='th-TH')
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(property="og:url", content="https://www.ชิมช้อปใช้.com")
    meta(property="og:type", content="website")
    meta(property="og:title", content="มาตรการส่งเสริมการท่องเที่ยวในประเทศ “ชิมช้อปใช้”")
    meta(property="og:description", content="ผู้สนใจเข้าร่วมมาตรการฯ สามารถลงทะเบียน ตั้งแต่ วันที่ 23 ก.ย. - 15 พ.ย. 62")
    meta(property="og:image", content="../images/og-thumbnail.png")
    meta(property="title", content="มาตรการส่งเสริมการท่องเที่ยวในประเทศ “ชิมช้อปใช้”")
    meta(property="description", content="ผู้สนใจเข้าร่วมมาตรการฯ สามารถลงทะเบียน ตั้งแต่ วันที่ 23 ก.ย. - 15 พ.ย. 62")
    meta(property="image", content="../images/og-thumbnail.png")
    <title>ลงทะเบียนเข้าร่วมมาตรการ ชิมช้อปใช้</title>
    link(rel='stylesheet', href='../styles/index.sass')
    title ลงทะเบียนเข้าร่วมมาตรการ ชิมช้อปใช้
  body
    header.navbar
    section.hero
      .cover.left
      .cover.center
        .hero-logo
      .cover.right
    main
      section.primary
        .since ตั้งแต่วันที่
        .duration.fade.in
        a.register-box(href='https://regist.ชิมช้อปใช้.com/Register', target='_blank')
          p ลงทะเบียน เฟส 2
          p ตั้งแต่วันที่ 24 ต.ค. 62 วันละ 2 รอบ เวลา 6.00 น. และ 18.00 น.
          p (จำกัดจำนวนผู้ลงทะเบียนรอบละ 5 แสนคน รวม 1 ล้านคนต่อวัน)
        hr

      section.details
        h1
          p มาตรการส่งเสริมการบริโภค
          p ในประเทศ “ชิมช้อปใช้”
        p.detail.fade.in

        h3 เงื่อนไขการเข้าร่วมมาตรการ
        p.condition.fade.in

      section.hotlines
        - const numbers = ['021111144', '022706400', '1672']
          for hotline, idx in ['KTB', 'CGD', 'TAT']
            a(href='tel:' + numbers[idx], , target='_blank', rel="noopener noreferrer")
              img.banner(src='../images/hotlines/' + hotline + '.png')

      section.sponsors
        - const links = ['www.mof.go.th/th/home', 'www.fpo.go.th/', 'www.cgd.go.th', 'www.newcb.ktb.co.th', 'www.mots.go.th', 'thai.tourismthailand.org']
          for sponsor, idx in ['MOF', 'FPO', 'CGD', 'KTB', 'MOTS', 'TAT']
            a(href='https://' + links[idx], target='_blank', rel="noopener noreferrer")
              img.sponsor-logo(src='../images/sponsors/' + sponsor + '.png')

    footer.contact-footer
      .footer-container
        section.logo-section
          img.footer-logo(src='../images/logo.png')

        section
          h4.title ข้อมูลลงทะเบียนประชาชน
          p.detail การรับสิทธิ การใช้งานแอปพลิเคชั่น <br> “เป๋าตัง” และ “ถุงเงิน”
          p.detail ติดต่อ ชิมช้อปใช้ Call Center by Krungthai&nbsp;
            a(href='tel:021111144') โทร. 02-111-1144

        section
          h4.title ข้อมูลลงทะเบียนผู้ประกอบการ
          p.detail เงื่อนไขและวิธีการเข้าร่วมมาตรการฯ
          p.detail ติดต่อ&nbsp;
            a(href='tel:022706400') โทร. 02-270-6400 กด 7

        section
          h4.title ข้อมูลเที่ยวชิมช้อปใช้
          p.detail ติดต่อ ททท.
          p.detail
            a(href='tel:1672') โทร 1672

    footer.copyright-footer

    script(src='../scripts/index.ts')
